<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="member-process-api-httpListenerConfig">
        <http:listener-connection host="${http.listner.host}" port="${http.listner.port}" />
    </http:listener-config>
    <apikit:config name="member-process-api-config" api="member-process-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <configuration-properties doc:name="Configuration properties" doc:id="5b6ff757-534a-4a25-b0a2-066836f568d0" file="properties/${env}.yaml" />
	<configuration doc:name="Configuration" doc:id="a7fcd5ee-35b7-4179-b7ed-4a3f7d9caad8" defaultErrorHandler-ref="apiKit_Error_Handler" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="01d6c3e3-ad7b-4df1-8e60-1b961ae54b31" file="secretProperties/${env}.yaml" key="${encryptKey}" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<api-gateway:autodiscovery apiId="${api.instanceId}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="66a6d3ee-f71e-4b2d-b7a1-9a7f3bab87bb" flowRef="member-process-api-main" />
	<http:request-config name="Member-Papi-HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="e3c07834-8b49-4aed-8596-dca4b2d1ed42" >
		<http:request-connection host="${http.requester.memberSystemApi.host}" port="${http.requester.memberSystemApi.port}" />
	</http:request-config>
	
</mule>
